.panel-card {
    border: 2px solid black;
    border-radius: 8px;
    height: 100px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
    border-color: #A9A9A9;
}


.panel-card-active {
    border: 2px solid black;
    border-radius: 8px;
    height: 100px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
    /*border-color: #00FFFF;*/
    background-color: #00FFFF;
}

.card-header {
    font-size: 12px;
    margin-top: 10px;
}

.card-header p {
  font-size: 17px;
}

.card-header a {
  color: #000;
}

.card-header a:hover {
  color: #00008B;
}

.circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 5px;
    background: #A9A9A9;
    border: 3px solid #A9A9A9;
    color: #fff;
    text-align: center;
    font: 20px Arial, sans-serif;
    float: right;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.child {
  position: relative;
  top: 120px;
}

.image1 {
  position: relative;
  width: 206px;
  height: 206px;
  top: 100px;
  left: 0px;
}
.image2 {
  position: absolute;
  width: 449px;
  height: 299px;
  top: 10px;
  left: 347px;
}

.activeCard {
   background-color: yellow;
}