==
<?
function onStart()
{
    $this['backendUrl'] = System::checkDebugMode() ? Backend::url('/') : null;
}
?>
==
<!-- Nav -->
<nav id="layout-nav" class="navbar navbar-fixed-top navbar-autohide" role="navigation" style="background-color:#00CED1"> 
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="http://127.0.0.1:8000/storage/app/media/assets/image/image%202.png" width="128px" style="margin-top: 15px;">
                </div>
                <div class="collapse navbar-collapse navbar-main-collapse">
                    <ul class="nav navbar-nav" style="float:right;">
                        <li class="{% if this.page.id == 'plugins' %}active{% endif %}"><a href="http://127.0.0.1:8000/backend/ap/tender/companyregisters/create" style="color:white">Sign up</a></li>
                        <li class="{% if this.page.id == 'plugins' %}active{% endif %}"><a href="http://127.0.0.1:8000/backend/ap/tender/companyregisters/create" style="color:white">Log in</a></li>
                        {% if backendUrl %}
                            <li><a href="{{ backendUrl }}" target="backend">Backend Area</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
